/*
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
*/

/* ======================================
BENDRINIAI STILIAI
====================================== */

h1, h2, h3, h4, h5, h6, p, li, a {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

/* ======================================
NAVIGACIJOS STILIAI
====================================== */

.navbar {
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar .navbar-brand {
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 30px;
    color: #878B9B;
}

.navbar .navbar-brand:hover,
.navbar .navbar-brand:active,
.navbar .navbar-brand:focus {
    color: #43C45F;
}

.navbar .navbar-toggler {
    border-color: transparent;
    /* border: none; */
}

@media only screen and (max-width: 991px) {
    .navbar .navbar-nav {
        text-align: center;
    }
}

@media only screen and (min-width: 992px) {
    .navbar .navbar-nav .nav-item:not(:first-child) {
        margin-left: 37px;
    }
}

.navbar .navbar-nav .nav-item .nav-link {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #404445;
}

@media only screen and (max-width: 991px) {
    .navbar .navbar-nav .nav-item .nav-link {
        font-size: 18px;
        line-height: 28px;
    }
}

.navbar .navbar-nav .nav-item .nav-link.active {
    font-weight: 900;
    color: #43C45F;
}

.navbar .navbar-nav .nav-item .nav-link:hover {
    color: #43C45F;
}

/* ======================================
PRADINIO PUSLAPIO STILIAI
====================================== */

/* HEADER STILIAI */



/* ... STILIAI */



/* ======================================
...
====================================== */





/* ======================================
FOOTER STILIAI
====================================== */



