/*
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
*/

/* ======================================
BENDRINIAI STILIAI
====================================== */

h1, h2, h3, h4, h5, h6, p, li, a {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.btn {
    padding: 14px 50px;
}

.btn-primary {
    background: #43C45F;
    border-color: #43C45F;
    border-radius: 5px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
    background: #40bd5b;
    border-color: #40bd5b;
}

.page-section {
    padding-top: 112px;
    padding-bottom: 112px;
    /* padding: 112px 0; */
}

/* ======================================
NAVIGACIJOS STILIAI
====================================== */

.navbar {
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar .navbar-brand {
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 30px;
    color: #878B9B;
}

.navbar .navbar-brand:hover,
.navbar .navbar-brand:active,
.navbar .navbar-brand:focus {
    color: #43C45F;
}

.navbar .navbar-toggler {
    border-color: transparent;
    /* border: none; */
}

@media only screen and (max-width: 991px) {
    .navbar .navbar-nav {
        text-align: center;
    }
}

@media only screen and (min-width: 992px) {
    .navbar .navbar-nav .nav-item:not(:first-child) {
        margin-left: 37px;
    }
}

.navbar .navbar-nav .nav-item .nav-link {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #404445;
}

@media only screen and (max-width: 991px) {
    .navbar .navbar-nav .nav-item .nav-link {
        font-size: 18px;
        line-height: 28px;
    }
}

.navbar .navbar-nav .nav-item .nav-link.active {
    font-weight: 900;
    color: #43C45F;
}

.navbar .navbar-nav .nav-item .nav-link:hover {
    color: #43C45F;
}

/* ======================================
PRADINIO PUSLAPIO STILIAI
====================================== */

/* HEADER STILIAI */

.home-page header {
    height: calc(100vh - 80px);
    background: linear-gradient(rgba(98, 100, 113, 0.5), rgba(98, 100, 113, 0.5)), 
        url('../images/header-sumazinta.jpg') top center no-repeat;
    background-size: cover;
    text-align: center;
}

.home-page header .container,
.home-page header .container .row {
    height: 100%;
}

.home-page header h1 {
    font-style: normal;
    font-weight: 500;
    font-size: 70px;
    line-height: 82px;
    color: #FFFFFF;
    margin-bottom: 0;
}

@media only screen and (max-width: 575px) {
    .home-page header h1 {
        font-size: 54px;
        line-height: 63px;
    }
}

.home-page header p {
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
    color: #D5D7D8;
    max-width: 681px;
    width: 100%;
    margin: 33px auto 49px;
}

/* GENERAL INFORMATION STILIAI */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .general-information .text-information-col .information-block {
        margin-bottom: 52px;
    }
}

@media only screen and (min-width: 992px) {
    .general-information .text-information-col .information-block:nth-child(-n+2) {
        margin-bottom: 52px;
    }
}

@media only screen and (max-width: 767px) {
    .general-information .text-information-col .information-block {
        margin-bottom: 49px;
        text-align: center;
    }
}

.general-information .text-information-col .information-block .icon {
    color: #49C0FC;
    font-size: 38px;
}

.general-information .text-information-col .information-block h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    color: #404445;
    margin: 18px 0 10px;
}

.general-information .text-information-col .information-block p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #5F6B81;
    margin-bottom: 0;
}

.general-information .photo-col {}

/* ======================================
...
====================================== */





/* ======================================
FOOTER STILIAI
====================================== */



